<div class='well col-sm-6'>
  <%= form_for @user, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <div class='form-group'>
      <%= f.label :username, 'Username', class: "col-sm-3 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :username, class: "form-control" %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :password, 'Password', class: "col-sm-3 control-label" %>
      <div class="col-sm-5">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-5">
        <%= f.submit (@user.new_record? ? "Register" : "Update Profile"), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
