<div class="navbar-header">
  <%= link_to "Review Station", root_path, :class => 'navbar-brand' %>
</div>
  
<ul class="nav navbar-nav">
  <li class="dropdown">
    <%= link_to '#', class: "dropdown-toggle", 'data-toggle' => 'dropdown' do %>
      Reviews <span class='caret'></span>
    <% end %>
    <ul class="dropdown-menu">
      <%= link_to "All Reviews", reviews_path %>
      <li class='divider'></li>
      <%= link_to 'Categories', categories_path %>
      <li class="divider"></li>
      <% Category.all.each do |category| %>
        <%= render 'categories/category', category: category %>
      <% end %>
    </ul>
  </li>
  <li class="dropdown">
    <%= link_to '#', class: "dropdown-toggle", 'data-toggle' => 'dropdown' do %>
      User Name <span class='caret'></span>
    <% end %>
    <ul class="dropdown-menu">
      <li>Edit</li>
      <li>View</li>
      <li>Create Review</li>
      <li>Logout</li>
    </ul>
  </li>
  <li>
    <%= link_to 'Login', '#' %>
  </li>
  <li>
    <%= link_to 'Sign Up', '#' %>
  </li>
</ul>

